.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/home.jpg ');
    background-size: cover;
    font-family: "Roboto Condensed", sans-serif;
    
  }
  
  .search-box {
    text-align: center;
    padding: 70px;
    background-color: rgba(255, 255, 255, 0.082);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
  }
  
  .search-box h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: aliceblue;
    font-size: 3rem;
  }
  
  .search-box input {
    width: 300px;
    padding: 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Roboto Condensed", sans-serif;
    
  }
  
  .search-box button {
    padding: 20px 40px;
    background-color: #242424;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
  }

  .search-box svg{
      margin-right: 0.5rem;
     
  }
  
  .search-box button:hover {
    background-color: #000000c4;
  }
  
  